@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif; }

html,
body,
#root {
  height: 100vh; }

#root {
  display: flex;
  flex-direction: column; }

footer, header {
  background-color: rgba(48, 48, 252, 0.493);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.navbar-light .navbar-toggler-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1170/1170678.png); }

main {
  flex-grow: 1; }

nav {
  background-color: rgba(48, 48, 252, 0.493); }

.carritoCompras {
  display: flex;
  justify-content: center;
  height: 3rem; }

.navbar-non {
  flex-grow: 0; }

a {
  font-size: 1.2rem; }

p {
  font-size: 1.2rem; }

.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem; }

.camisetaT {
  width: fit-content; }

.imgR {
  max-width: 100%;
  height: auto;
  flex-wrap: wrap; }

.prods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .4rem;
  width: fit-content; }

.Cantidades {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%; }

h3 {
  text-align: center; }

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 0rem;
  align-items: center; }

.carrussel {
  margin: 2rem; }

.loader {
  display: flex;
  align-items: center;
  justify-content: center; }

.Hover:hover {
  transition: 0.3s;
  border-bottom: 1px solid black; }

.imgC {
  height: 38rem; }

.textCar h3, .textCar p {
  background-color: rgba(255, 255, 255, 0.74);
  color: #202020; }

.nft {
  display: flex;
  justify-content: center; }

.track {
  margin: 10px;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .track .track__img {
    height: auto;
    -webkit-transition: all .4s;
    transition: all .4s;
    max-width: 100%;
    display: block; }
  .track .track__texto {
    position: absolute;
    background-color: #2d2e99;
    display: block;
    padding: 0rem 10rem;
    box-sizing: border-box;
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity .1s .3s,-webkit-transform .4s;
    transition: opacity .1s .3s,-webkit-transform .4s;
    transition: transform .4s,opacity .1s .3s;
    transition: transform .4s,opacity .1s .3s,-webkit-transform .4s;
    text-align: center; }
    .track .track__texto h3 {
      color: white; }
    .track .track__texto p {
      color: white;
      text-align: center;
      text-transform: uppercase; }
    .track .track__texto span {
      color: #95d703; }
    .track .track__texto .link__icon {
      pointer-events: all;
      color: #00A3D9;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      display: inline-block;
      font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-size: 26px;
      transform: translate3d(0, 4px, 0);
      transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out; }

.track:hover .track__img {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px); }

.track:hover .track__texto {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

article {
  background-color: #FFF;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.3s ease; }
  article:hover {
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); }
  article img {
    width: 100%;
    height: auto; }
  article h2 {
    margin-top: 1rem; }
  article p {
    margin-top: 1rem; }
  article button {
    margin-top: 1rem;
    background-color: white;
    color: #2d2e99;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease; }
    article button a {
      color: #2d2e99;
      text-decoration: none;
      padding-bottom: .2rem; }
    article button:hover {
      background-color: #4169E1;
      color: white; }

.containerProducto {
  display: flex;
  flex-direction: column; }
  .containerProducto h3 {
    text-align: center;
    padding: .6rem; }
  .containerProducto h4 {
    text-align: center;
    padding: .6rem; }
  .containerProducto p {
    text-align: center; }

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
